html {
  @include fluid-type($min-font, $max-font, $min-width, $max-width);
}

body {
  background-color: $bg-color--site;
  font-family: $font-stack--sans;
  font-weight: 400;
  line-height: 1.45;
  color: #F2EEEB;
}

// container
%container {
  max-width: $container-width;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

// Master Header
.master-header {
  @extend %container;
}


// Main Section
main {
  @extend %container;
  display: flex;
  flex-direction: column;
}

