$rhino: #32416A;
$remy: #FEE7FC;
$sail: #B2E2F5;

$color--title: $remy; 
$color--hyperlink: $sail;

$bg-color--website: #F2EEEB;
$bg-color--card: #e6dfcc;
$bg-color--site: $rhino;
$font-stack--sans: "Fira Sans", sans-serif;