
.site-page--bg-color {
  background-color: #F2EEEB;
}

.site-page {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.site-title {
  color: #2176FF;
  font-size: 4.768rem;
}

.site-title__sub {
  color: #EA3A3A;
  display: block;
  font-size: 1.5625rem;
}

.primary-nav__list {
  list-style-type: none;
  padding-left: 0;
}

.primary-nav__list-item {
  display: inline-block;
}

.primary-nav__link {
  border: 2px dashed transparent;
  padding: .512em;
  display: block;
  color: #2176FF;
  text-decoration: underline;
  text-decoration-color: #2176FF;
}

.primary-nav__link:hover,
.primary-nav__link:focus {
  border: 2px dashed #EA3A3A;
  text-decoration-color: #EA3A3A;
  color: #EA3A3A;
}
.primary-nav__link:focus {
  outline: 0;
}

.grid {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.grid__item {
  box-sizing: border-box;
  flex-basis: auto;
  width: 48%;
  background-color: #EA3A3A;
  margin-bottom: 2rem;
  color: #fff;
  padding: 1em 2.441em;
}