@for $i from 0 through 15 {
  .mb-#{$i} {
    margin-bottom: #{-get-asc-size($scale, $i)}rem !important;
  }
  .mt-#{$i} {
    margin-top: #{-get-asc-size($scale, $i)}rem !important;
  }
  .mr-#{$i} {
    margin-right: #{-get-asc-size($scale, $i)}rem !important;
  }
  .ml-#{$i} {
    margin-left: #{-get-asc-size($scale, $i)}rem !important;    
  }
  .p-#{$i} {
    padding: #{-get-asc-size($scale, $i)}rem !important;
  }
}

.mb-xs {
  margin-bottom: .512rem !important;
}