.btn {
  color: $rhino;
  border: 3px dashed $rhino;
  display: inline-block;
  font-family: $font-stack--sans;
  font-weight: 600;
  padding: #{-get-desc-size($scale, 3)}em;
  text-decoration: none;
  transition: all 0.5s;
  border-radius: 5px;
}

.btn:hover,
.btn:focus {
  background-color: $rhino;
  color: #fff;
  transform: translateX(.41em);
}