.card {
  background-color: $bg-color--card;
  box-sizing: border-box;
  color: $color--secondary;
  font-family: $font-stack--sans;
  padding: #{-get-asc-size($scale, 6)}em;
}

.card__text {
  font-weight: 400;
  line-height: 1.55;
  font-size: #{-get-asc-size($scale, 3)}rem;
  margin: 0;
}

.card__text--sm {
  font-size: #{-get-asc-size($scale, 2)}rem;
}

.card__title {
  font-family: $font-stack--sans;
  font-size: $h3;
  font-weight: 700;
}


.card__list > .card__text {
  margin-right: 1em;
}
.horizontal-list {
  display: inline-block;
  padding-left: 0;
}

.horizontal-list__item {
  display: inline-block;
  margin-right: 1rem;
}
