.card {
  @extend .p-6;  
  background-color: $bg-color--card;
  box-sizing: border-box;
  color: $color--secondary;
  font-family: $font-stack--sans;
}

.card__text {
  font-weight: 400;
  line-height: 1.55;
  font-size: #{-get-asc-size($scale, 3)}rem;
  margin: 0;
}

.card__text--sm {
  font-size: #{-get-asc-size($scale, 2)}rem;
}

.card__title {
  font-family: $font-stack--sans;
  font-size: $h3;
  font-weight: 700;
}