.master-header__title {
  font-size: #{-get-asc-size($scale, 7)}rem;
  text-shadow: 0 4px rgba(0, 0, 0, .25);
  text-transform: uppercase;
  color: $sail;
}

.master-header__text {
  font-weight: 400;
  font-size: $base;
  display: block;
  text-shadow: none;
  color: #ffffff;
  text-transform: none;
}