.master-header__title {
  font-size: #{-get-asc-size($scale, 8)}rem;
  // text-shadow: 0 4px rgba(0, 0, 0, .25);
  text-transform: capitalize;
  color: $color--primary;
  margin-bottom: #{-get-asc-size($scale, 2)}rem;
  line-height: 0.9;
  margin-top: #{-get-asc-size($scale, 8)}rem;
}

.master-header__text {
  font-weight: 400;
  font-size: $h5;
  display: block;
  text-shadow: none;
  color: #ffffff;
  font-style: italic;
  text-transform: none;
  margin-bottom: #{-get-asc-size($scale, 2)}rem;
  letter-spacing: 0;
}