.navbar {
  display: flex;
  width: 100%;
  margin-top: #{-get-desc-size($scale, 7)}rem;
}

.navbar__list {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  align-items: center;
  margin: 0;
}

.navbar__list-item {
  font-size: 1.25rem;
  margin-right: #{-get-asc-size($scale, 3)}rem;
}

.navbar__link {
  display: block;
  padding: 1px;
  border: 1px solid transparent;
  color: #ffffff;
  font-family: $font-stack--sans;
  text-decoration: underline;
  font-size: inherit;
  font-weight: 400;
}

.navbar__link:hover,
.navbar__link:focus {
  color: $color--hyperlink;
}

.navbar__link:focus {
  border: 2px solid $color--hyperlink;
  outline: none;
}